* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.grid {
  width: 1200px;
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
}

.grid-content {
  width: 1000px;
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.header {
  height: 80px;
  background-color: #f6ebda;
  position: relative;
}

.header__navbar {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.header__navbar-list {
  display: flex;
  align-items: center;
  list-style: none;
}

.header__navbar-logo {
  margin-right: 13px;
  width: 50px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 11px;
}

.header__navbar-name {
  color: #fe9b40;
  margin-right: 6px;
  font-size: 1.9rem;
  font-weight: 600;
}

.header__navbar-name-extra {
  font-size: 1.9rem;
  font-weight: 600;
}

.header__navbar-search {
  background-color: #fff;
  height: 40px;
  border-radius: 20px;
  width: 200px;
  margin-right: 15px;
  display: flex;
  align-items: center;
}

.header__navbar-search-input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 99%;
  height: 100%;
  font-size: 1.3rem;
  padding: 0 14px;
  border-top-left-radius: 17px;
  border-bottom-left-radius: 17px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.header__navbar-cart-img {
  width: 35px;
  -o-object-fit: cover;
     object-fit: cover;
}

.header-form-cart-input {
  display: flex;
}

.header__navbar-item-link {
  text-decoration: none;
  font-size: 1.7rem;
  position: relative;
  font-weight: 400;
  text-decoration: none;
  color: black;
  margin: 0 13px;
  transition: all 0.8s linear;
}
.header__navbar-item-link::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #fe9b40;
  width: 0%;
  height: 3px;
  border-radius: 20px;
  left: 0;
  transition: all 0.3s;
}

.header__navbar-item-link:hover.header__navbar-item-link::after {
  width: 100%;
}

.header__navbar-item-link:hover {
  color: #fe9b40;
}

.header__navbar-item-link-active {
  color: #fe9b40;
}

.icon-search-header {
  font-size: 1.9rem;
  margin-left: 12px;
}

.input-form {
  height: 93%;
}

.header__cart-open {
  position: absolute;
  border-radius: 5px;
  display: none;
  width: 275px;
  top: 116%;
  right: -22%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -webkit-animation: fadeIn 0.5s linear;
          animation: fadeIn 0.5s linear;
  transform-origin: 99% top;
  will-change: transform;
  z-index: 5;
}

.header__no-cart-img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}

.header__title-no-cart {
  font-size: 1.4rem;
  color: #ff7a00;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 23px;
  display: block;
}

.header__navbar--cart {
  position: relative;
}

.header__cart-open::before {
  content: "";
  position: absolute;
  display: block;
  border-width: 21px 19px;
  border-style: solid;
  border-color: transparent transparent white transparent;
  right: 1%;
  top: -15%;
}

.header__navbar--cart:hover .header__cart-open {
  display: block;
}

.header__navbar-list-ml {
  margin-left: 115px;
}

.seed__coffee-img {
  width: 33px;
}

.seed__coffee {
  position: absolute;
  right: 30%;
  top: 9%;
  transform: rotate(17deg);
}

.seed__coffee-2 {
  position: absolute;
  right: 5%;
  top: 35%;
  transform: rotate(294deg);
}

.footer {
  min-height: 500px;
}

.content {
  background-color: #f6ebda;
  padding-bottom: 230px;
}

.content__introduce {
  padding-top: 115px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 20px;
}

.content__introduce-title-item {
  font-size: 3.9rem;
  line-height: 5.2rem;
  font-weight: 600;
}

.content__introduce-title-item-extra {
  color: #fe9b40;
}

.content__introduce-desc {
  font-size: 1.8rem;
  color: #7e7d7a;
  line-height: 2.7rem;
  margin-top: 20px;
}

.content__introduce-btn {
  margin-top: 33px;
  display: flex;
  align-items: center;
}

.content__introduce-btn-order {
  min-width: 170px;
  height: 46px;
  border-radius: 33px;
  outline: none;
  border: none;
  background-color: background-color;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: color;
  background-color: #2f2105;
  color: #fff;
  font-weight: 600;
}

.icon-in-card-btn {
  width: 26px;
  background-color: #ff902a;
  display: flex;
  height: 26px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin-left: 11px;
}

.cart-in-btn {
  font-size: 1.3rem;
}

.content__introduce-title-menu {
  margin-left: 35px;
  color: #f4ae26;
  font-size: 1.3rem;
  font-weight: 700;
}

.content__introduce-body {
  position: relative;
}

.content__introduce-circle {
  width: 376px;
  height: 361px;
  right: 12%;
  background-color: rgba(47, 33, 5, 0.9);
  border-radius: 50%;
  top: -16%;
  position: absolute;
}

.content__introduce-circle-menu-img {
  width: 80%;
  top: 9%;
  right: 6%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
}

.content__introduce-type {
  min-width: 190px;
  position: absolute;
  display: flex;
  height: absolute;
  right: 54%;
  top: 2%;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  height: 49px;
  border-radius: 28px;
  align-items: center;
  border: 5px solid rgba(56, 40, 48, 0.12);
  justify-content: center;
}

.content__introduce-type-item {
  font-weight: 600;
  font-size: 1.5rem;
}

.content__introduce-price {
  min-width: 118px;
  position: absolute;
  display: flex;
  height: absolute;
  right: 69%;
  top: 73%;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  height: 52px;
  border-radius: 28px;
  align-items: center;
  border: 5px solid rgba(56, 40, 48, 0.12);
  justify-content: center;
}

.content__introduce-assess {
  min-width: 118px;
  position: absolute;
  display: flex;
  height: absolute;
  right: -8%;
  top: 19%;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  height: 52px;
  border-radius: 28px;
  align-items: center;
  border: 5px solid rgba(56, 40, 48, 0.12);
  justify-content: center;
}

.icon-star-assess {
  color: #ffd057;
  font-size: 1.4rem;
  margin-left: 3px;
}

.introduce__degree {
  display: inline-block;
  font-size: 2.7rem;
  position: relative;
  font-weight: 600;
  margin-top: 120px;
}
.introduce__degree::after {
  content: "";
  display: block;
  position: absolute;
  right: 0%;
  top: 128%;
  display: inline-block;
  width: 35%;
  height: 4px;
  border-radius: 5px;
  background-color: #ff902b;
}

.content__second {
  position: relative;
  min-height: 300px;
}

.content__second-menu {
  position: absolute;
  background-color: #f9d9aa;
  width: 82%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  height: 350px;
  border-top-right-radius: 80px;
  right: 10%;
  border-bottom-right-radius: 80px;
  top: -100px;
}

.from-second-content-menu {
  display: grid;
  grid-template-columns: 350px 350px 350px;
  gap: 0 20px;
  top: -25%;
  height: 100%;
  right: 6%;
  position: absolute;
}

.content__second-menu-item-img {
  width: 100%;
  border-radius: 20px;
}

.content__second-menu-item {
  border-radius: 15px;
  padding: 13px;
  background-color: #fff;
  border: 4px solid rgba(56, 40, 48, 0.12);
}

.content__second-menu-body {
  padding: 17px 8px;
}

.content__second-menu-body-type-name {
  display: flex;
  justify-content: space-between;
}

.content__second-menu-name {
  font-size: 2.2rem;
  font-weight: 600;
}

.content__second-menu-price {
  font-size: 2.1rem;
  font-weight: 700;
  margin-right: 8px;
}

.content__second-menu-body-type-name-demand {
  display: flex;
  justify-content: space-between;
  margin-top: 22px;
  align-items: center;
}

.content__second-menu-desire {
  width: 54px;
  border: 2px solid #ffd79d;
  border-radius: 6px;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content__second-menu-desire-type {
  font-size: 1.2rem;
  color: #ffd28f;
}

.menu-cart {
  color: #fff;
  font-size: 1.4rem;
}

.menu-card-icon {
  height: 33px;
  background-color: #ff902a;
  width: 35px;
  margin-right: 5px;
}

.ml-cold {
  margin-right: 80px;
}

.content__second-assess {
  min-width: 118px;
  position: absolute;
  display: flex;
  height: absolute;
  background-color: rgb(255, 255, 255);
  height: 52px;
  border-radius: 28px;
  align-items: center;
  border: 5px solid rgba(56, 40, 48, 0.12);
  justify-content: center;
  min-width: 74px;
  height: 36px;
  left: 32px;
  top: 9%;
}

.content__second-assess-two {
  min-width: 118px;
  position: absolute;
  display: flex;
  height: absolute;
  background-color: rgb(255, 255, 255);
  height: 52px;
  border-radius: 28px;
  align-items: center;
  border: 5px solid rgba(56, 40, 48, 0.12);
  justify-content: center;
  min-width: 74px;
  height: 36px;
  top: 9%;
  left: 37%;
}

.content__second-assess-there {
  min-width: 118px;
  position: absolute;
  display: flex;
  height: absolute;
  background-color: rgb(255, 255, 255);
  height: 52px;
  border-radius: 28px;
  align-items: center;
  border: 5px solid rgba(56, 40, 48, 0.12);
  justify-content: center;
  min-width: 74px;
  height: 36px;
  top: 9%;
  right: 22%;
}

.content__second-menu-desire-active {
  border-color: #ff902a;
}

.active-type {
  color: #ff902a;
}

.content__thirty-title {
  display: inline-block;
  font-size: 2.7rem;
  position: relative;
  font-weight: 600;
  margin-top: 60px;
}
.content__thirty-title::after {
  content: "";
  display: block;
  position: absolute;
  right: 0%;
  top: 128%;
  display: inline-block;
  width: 35%;
  height: 4px;
  border-radius: 5px;
  background-color: #ff902b;
  width: 27%;
}

.content__thirty-method {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 20px;
  margin-top: 48px;
}

.content__thirty-method-img {
  padding-top: 25%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.content__thirty-method-item {
  text-align: center;
}

.content__thirty-method-name {
  font-size: 2.3rem;
  font-weight: 600;
  margin-top: 37px;
}

.content__thirty-method-desc {
  font-size: 1.8rem;
  margin-top: 13px;
  font-weight: 400;
}

.content__thirty-method-item-ps {
  position: relative;
}

.content__thirty-method-img-hand {
  position: absolute;
  width: 100%;
  position: absolute;
  width: 13%;
  top: 55px;
}

.content__four {
  background-color: #f6ebda;
  margin-top: 210px;
  position: relative;
  padding-bottom: 100px;
}

.content__four-about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.content__four-about-img {
  position: absolute;
  width: 355px;
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 8px solid rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  top: -22%;
  right: 58%;
}

.content__four-about-body {
  margin-left: 45px;
  margin-top: 80px;
}

.content__four-about-name {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 1px;
  position: relative;
}
.content__four-about-name::after {
  content: "";
  display: block;
  position: absolute;
  right: 0%;
  top: 128%;
  display: inline-block;
  width: 35%;
  height: 4px;
  border-radius: 5px;
  background-color: #ff902b;
  top: 140%;
  right: 74%;
  width: 7%;
}

.content__four-about-heading {
  font-size: 2.4rem;
  line-height: 2.5rem;
  margin-top: 22px;
  letter-spacing: 1px;
  font-weight: 600;
}

.content__four-about-desc {
  font-size: 1.7rem;
  color: #858480;
  letter-spacing: 1px;
  font-weight: 400;
  line-height: 2.1rem;
  margin-top: 16px;
}

.content__four-about-btn {
  min-width: 170px;
  height: 46px;
  border-radius: 33px;
  outline: none;
  border: none;
  background-color: #2f2105;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f4ae26;
  font-weight: 700;
  margin-top: 31px;
}

.content__four-img-ps {
  position: absolute;
  rotate: 33deg;
  top: 30%;
  width: 4%;
  left: 8%;
}

.content__four-img-ps2 {
  position: absolute;
  rotate: -9deg;
  top: 50%;
  width: 3%;
  left: 45%;
}

.content__four-img-ps3 {
  position: absolute;
  rotate: 13deg;
  top: 11%;
  width: 3%;
  left: 71%;
}

.content__four-img-ps4 {
  position: absolute;
  rotate: 68deg;
  top: 68%;
  width: 4%;
  left: 86%;
}/*# sourceMappingURL=index.css.map */